.esqsenha{

    text-decoration: none;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-left: 35px;
    margin-top: 25px;
    color: #FFFFFF;
  
}

.botaoentrar{
  background: #FE2121;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
  margin-top: 25px;
  height: 73px;
  width: 552px ;
  margin-left: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  

}

.email{

  background-color: #FFFFFF;
  height: 58px;
  margin-left: 35px;
  margin-top: 115px;
  width: 552px;
}


#standard-adornment-password{
  
  background-color: #FFFFFF;
  height: 47px;
  margin-top: 25px;
  margin-left: 35px;
  width: 552px;
  border-radius: 5px;
}
